@import '/src/shared/styles/mixins.scss';

.modal {
  position: relative;
  border-radius: 10px;
  background-color: var(--background-primary);
  width: 50vw;
  max-width: var(--desktop);

  @media (max-width: 1200px) {
    width: 80vw;
  }

  @media (max-width: 768px) {
    width: 85vw;
  }

  @media (max-width: 550px) {
    width: 95vw;
  }

  &__close {
    @include flex-center;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    padding: 0.4rem 0.5rem 0.35rem 0.5rem;
    user-select: none;
    cursor: pointer;
    border-radius: 8px;

    &:hover {
      background-color: var(--background-primary);
    }
  }
}

body:has(.modal) {
  overflow: hidden;
}
