@import '/src/shared/styles/mixins.scss';

.search {
  position: relative;
  z-index: 2;

  &__input {
    border: 1px solid var(--border);
    padding: 12px 20px;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    outline: none;
    width: 400px;
    border-radius: 10px;
    font-size: 1rem;
    transition: all 0.15s ease-in-out;

    &:focus {
      border: 1px solid var(--border-focus);
    }
  }

  &__icon {
    svg {
      width: 22px;
      height: 22px;
      opacity: 0.3;
      position: absolute;
      left: 14px;
      top: 12px;
    }
  }

  &__clear {
    svg {
      width: 20px;
      height: 20px;
      opacity: 0.3;
      position: absolute;
      right: 18%;
      top: 13px;

      &:hover {
        opacity: 0.8;
        cursor: pointer;
      }
    }
  }

  &__btn {
    width: 15%;
    height: 100%;
    position: absolute;
    right: 0px;
    border-radius: 0 9px 9px 0 !important;
    top: 0;
    @include flex-center;
  }

  @media (max-width: 500px) {
    .search {
      &__input {
        width: 300px;
      }
    }
  }
}
