@import '/src/shared/styles/mixins.scss';

.book {
  background-color: var(--background-secondary);
  width: 100%;
  position: relative;
  border-radius: 10px;
  padding: 1rem 2rem;
  min-height: 240px;

  @media (max-width: 550px) {
    padding: 1rem;
  }

  &__top {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media (max-width: 390px) {
      gap: 0.5rem;
    }
  }

  &__bottom {
    @include flex-center;
    gap: 1rem;

    @media (max-width: 390px) {
      gap: 0.5rem;
    }
  }

  &_wrapper {
    @include flex-center;
  }

  &__imgcont {
    position: absolute;
    top: -20px;
    left: -30px;
    border-radius: 3px;
    transform: rotate(-3.5deg);

    @media (max-width: 550px) {
      top: -10px;
      left: 30%;
    }

    @media (max-width: 450px) {
      left: 25%;
    }

    @media (max-width: 390px) {
      top: -20px;
      left: 23%;
      transform: scale(0.9);
    }

    @media (max-width: 375px) {
      top: -70px;
      left: 22%;
      transform: scale(0.55);
    }
  }

  &__info {
    margin-left: 145px;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media (max-width: 550px) {
      margin-left: 0;
      margin-top: 270px;
    }

    @media (max-width: 390px) {
      margin-top: 240px;
    }

    @media (max-width: 375px) {
      margin-top: 140px;
      gap: 0.5rem;
    }
  }

  &__title_wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }

  &__title {
    font-size: 1.7rem;
    text-transform: capitalize;

    @media (max-width: 550px) {
      text-align: center;
    }
  }

  &__subtitle {
    color: var(--text-secondary);
    font-size: 1.2rem;

    @media (max-width: 550px) {
      text-align: center;
    }
  }

  &__description {
    color: var(--text-secondary);
    font-size: 0.9rem;
    line-height: 140%;
    max-height: 200px;
    overflow: scroll;

    @media (max-width: 550px) {
      max-height: 180px;
    }

    @media (max-width: 375px) {
      max-height: 145px;
    }
  }

  &__text_light {
    color: var(--text-primary);
    font-size: 0.7rem;
    padding: 0.4rem 0.7rem 0.4rem 0.7rem;
    border-radius: 15px;
    background-color: var(--button-primary);
  }

  &__actions {
    display: flex;
    gap: 1rem;
  }

  &__bubbles {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
}
