@import '/src/theme/variable';

.select {
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 14px;
  display: inline-block;
  padding: var(--field-padding);
  border-radius: 3px;
  width: 100%;
  outline: none;
  background: $input-bg;
  border: 2px solid $input-border;
  transition: border-color 0.3s ease;
  color: $input-text;

  &_wrapper {
    position: relative;
    font-size: 14px;
    margin-bottom: 5px;
    display: inline-block;
    --field-padding: 13px;
    width: 50%;

    &:after,
    &:before {
      content: '';
      position: absolute;
      z-index: 2;
      top: 17.5px;
      right: 15px;
      width: 0;
      height: 0;
      border: 4px dashed;
      border-color: $input-text-inactive transparent;
      pointer-events: none;
    }

    &:before {
      border-bottom-style: solid;
      border-top: none;
    }

    &:after {
      margin-top: 7px;
      border-top-style: solid;
      border-bottom: none;
    }
  }

  &:focus {
    border-color: $input-active;
    transition-delay: 0.1s;
  }
}

.error__message {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px 8px 0 8px;
  font-size: 12px;
  background: transparent;
  color: $red;
  height: 10px;
}

.error__message:empty {
  opacity: 0;
}
