@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin form-error-message {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px 8px 0 8px;
  font-size: 12px;
  background: transparent;
  color: var(--red);
  height: 10px;
}
