@import '/src/theme/variable';

.form_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.form {
  width: 100%;
  border-radius: 10px;
  background-color: $input-bg;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  align-items: center;

  &__title {
    color: $input-active;
    align-self: flex-start;
  }

  &__split {
    width: 100%;
    display: flex;
    gap: 1rem;
  }

  &__radio {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  &__checkboxarea {
    width: 100%;
    margin-left: 1.9rem;
  }

  &__btn {
    width: 100%;
  }
}

.error__message {
  margin-left: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px 8px 0 8px;
  font-size: 12px;
  background: transparent;
  color: $red;
  height: 10px;
}

.error__message:empty {
  opacity: 0;
}
