@import '/src/shared/styles/mixins.scss';

.hero {
  padding-top: 2rem;

  &__content {
    @include flex-center;
    flex-direction: column;
    gap: 2rem;
  }

  &__heading {
    font-size: 2.5rem;
    text-transform: capitalize;
  }

  &__message {
    font-size: 1.3rem;
    line-height: 140%;
    text-align: center;
  }
}
