@import '/src/shared/styles/mixins.scss';

.book {
  background-color: var(--background-secondary);
  width: 100%;
  position: relative;
  border-radius: 10px;
  padding: 1rem;

  &__top {
    min-height: 170px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__bottom {
    @include flex-center;
    gap: 1rem;
  }

  &_wrapper {
    @include flex-center;
  }

  &__imgcont {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 140px;
    height: 190px;
    transform: rotate(-3.5deg);
    filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.5))
      drop-shadow(4px 0px 0px #ffffff) drop-shadow(4px 0px 0px #d8d8d8)
      drop-shadow(4px 0px 0px #ffffff);
  }

  &__ebook {
    background-color: var(--button-primary);
    position: absolute;
    font-size: 0.9rem;
    padding: 5px;
    font-weight: 600;
    bottom: 0px;
    left: 0px;
  }

  &__img {
    position: absolute;
    width: 140px;
    height: 190px;
    object-fit: cover;
  }

  &__info {
    margin-left: 145px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__title {
    font-size: 1.3rem;
    text-transform: capitalize;
  }

  &__text {
    color: var(--text-secondary);
    font-size: 0.9rem;
  }

  &__text_light {
    color: var(--text-ternary);
    font-size: 0.8rem;
  }

  &__actions {
    display: flex;
    gap: 1rem;
  }
}
