@import '/src/theme/variable';

.image {
  width: 100%;
  font-size: 14px;
  --field-padding: 12px;

  &__input {
    position: absolute;
    opacity: 0;
    overflow: hidden;
    z-index: -1;
    width: 0;
  }

  &__label {
    position: relative;
    display: block;
    padding: var(--field-padding);
    width: 100%;
    background: $input-bg;
    border: 2px dashed $input-border;
    border-radius: 3px;
    color: $input-text;
    text-align: center;
    text-transform: none;
    cursor: pointer;
    transition: all 0.15s;
  }

  &__input:focus ~ &__label {
    border: 2px dashed $input-active;
  }

  .error__message {
    border-color: $red;
    color: $red;
  }

  &__input:valid ~ &__label {
    border-color: $button-primary;
    background: $button-primary;
    color: $button-primary;

    &:before {
      content: '✅';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      color: $input-bg;
      line-height: 45px;
    }
  }
}
