@import '/src/theme/variable';

.container {
  width: calc(100vw - 100px);
  max-width: $desktop;
  height: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;

  @media (max-width: 640px) {
    width: calc(100vw - 30px);
  }
}

.btn {
  padding: 14px 16px;
  border: none;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  border-radius: 5px;
  -webkit-transition: background-color 400ms ease;
  transition: background-color 400ms;
  text-transform: capitalize;
  cursor: pointer;
}

.btn-primary {
  color: $text-primary;
  background-color: $button-primary;

  &:hover {
    background-color: $button-primary-hover;
  }
}

.btn-secondary {
  color: $text-primary;
  background-color: $button-secondary;

  &:hover {
    background-color: $button-secondary-hover;
  }
}
